# export ARDUINO_DIR=/usr/share/arduino
# export ARDMK_DIR=/usr/share/arduino
# export AVR_TOOLS_DIR=/usr
# export AVRDUDE=/usr/bin/avrdude
# export AVRDUDE_CONF=/etc/avrdude.conf

export CHIP=esp32
export ESP_ROOT=/usr/share/arduino/hardware/espressif/esp32
export UPLOAD_PORT=/dev/ttyUSB1
export UPLOAD_SPEED=115200
