[submodule "makeEspArduino"]
	path = makeEspArduino
	url = https://github.com/plerup/makeEspArduino.git
[submodule "esp32"]
	path = esp32
	url = https://github.com/espressif/arduino-esp32.git
[submodule "libraries/ESPAsyncWebServer"]
	path = libraries/ESPAsyncWebServer
	url = https://github.com/me-no-dev/ESPAsyncWebServer.git
[submodule "libraries/AsyncTCP"]
	path = libraries/AsyncTCP
	url = https://github.com/me-no-dev/AsyncTCP.git
[submodule "tools/EspArduinoExceptionDecoder"]
	path = tools/EspArduinoExceptionDecoder
	url = https://github.com/janLo/EspArduinoExceptionDecoder.git
